
body {
    font-family: 'Quicksand', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #ecf9ff;
}

header {
    background-color: #3e729a;
    padding: 20px 0;
}

header .container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo h1 {
    color: white;
    margin: 0;
    text-shadow: 2px 2px black;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.container {
    background: linear-gradient(to bottom left, #3e729a 40%, #FFC39E 100%);
    padding: 20px;
    margin-top: 70px;
    margin-left: 350px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
}
.container h1 {
    margin-bottom: 20px;
}
.container label {
    display: block;
    margin: 10px 0 5px;
}
.container input[type="text"],
.container input[type="number"],
.container input[type="email"],
.container select {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.container button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.container button:hover {
    background-color: #0056b3;
}
.student-list {
    background: linear-gradient(to bottom left, #3e729a 40%, #FFC39E 100%);;
    padding: 20px;
    margin-top: 50px;
    margin-left: 350px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
  
}
.student-list h2 {
    margin-bottom: 20px;
}
.student-list table {
    width: 100%;
    border-collapse: collapse;
}
.student-list table, .student-list th, .student-list td {
    border: 1px solid #ccc;
}
.student-list th, .student-list td {
    padding: 10px;
    text-align: left;
}



main {
    background-color: white;
    padding: 20px 0;
    height: 1000px;
}

main .container2 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}




footer {
    background-color: lightgray;
    padding: 20px 0;
    text-align: center;
}

footer .container2 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
